<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Tables - SB Admin</title>
    <link href="qlisanpham.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">

    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet"
        crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
        crossorigin="anonymous"></script>
</head>

<body class="logo">
    <nav class="container">
        <div class="logo1">
            <a class="navbar-brand" href="#"><img src="logo-z.png" alt=""></a>
            <button class="btn btn-link btn-sm order-1 order-lg-0 ml-2"
            id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        </div>
        
        <!-- Navbar-->
        <div class="logo2"><a class="dropdown-item" href="logout">Logout <i class="fas fa-power-off"></i></a></div>
    </nav>



    <div id="layoutSidenav" class="content">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <ul>
                            <li>
                                <a class="nav-link" href="doanhthu">
                                    Doanh Thu
                                </a>
                            </li>
                            <li>
                                <a class="nav-link " href="#">
                                    Quản lí sản phẩm
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="quanlytaikhoan">
                                    Quản lí người dùng
                                </a>
                            </li>
                            
                            <li>
                                <a class="nav-link" href="quanlydonhang">
                                    Quản lí đơn hàng
                                </a>
                            </li>
                            <li>
                                <a class="nav-link" href="quanlykho">
                                    Quản lí kho
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as: Admin</div> 
                </div>
            </nav>
        </div>


        <div id="layoutSidenav_content">
            <div class="product">
                <div class="title-btn">
                    <div class="title">Quản lý sản phẩm</div>
                    <div class="btn-primary">
                        <button class="btn " data-toggle="modal" data-target="#exampleModal">
                            <i class=" fas fa-plus mr-2"></i>Create
                        </button>
                    </div>
                </div>
                <table class="table ">
                    <thead class="thead-light text-center">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Evaluate</th>
                            <th>Color</th>
                            <th>Description</th>
                            <th>Img</th>
                            <th>Price</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="text-center" id="product-admin">
                        <% for (var i in result) { %>

                        <tr>
                            <td><%= result[i].id_sanpham %></td>
                            <td><%= result[i].ten_sanpham %></td>
                            <td><%= result[i].loai_hang %></td>
                            <td><%= result[i].danh_gia %></td>
                            <td><%= result[i].mau_sac %></td>
                            <td><%= result[i].mo_ta %></td>
                            <!-- <td><%= result[i].id_sanpham %></td>'; -->
                            <td><img src="<%= result[i].img_sanpham %>" alt="" style="width: 50px;"></td>
                            <td><%= result[i].gia_ban%></td>
                            <td><button  onclick="updateItem('<%= result[i].id_sanpham%>','<%= result[i].ten_sanpham%>','<%= result[i].loai_hang%>','<%= result[i].danh_gia%>','<%= result[i].mau_sac%>','<%= result[i].mo_ta%>','<%= result[i].gia_ban%>','<%= result[i].img_sanpham%>')"  class="btn btn-outline-danger"  data-toggle="modal" data-target="#updateProduct"><i class="fas fa-cogs"></i></button>
                            <button onclick="deleteItem('<%= result[i].id_sanpham%>')" class="btn ml-1 btn-outline-warning"><i class="fas fa-trash"></i></button></td>
                            </tr>
                            <% } %>
                      
                    </tbody>

                </table>


            </div>
        </div>
        <!-- Button trigger modal -->
    </div>    

    <!-- Modal -->
        <div  class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Thêm sản phẩm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-row">
                            <div class="col-12">
                                <input class="form-control" type="text" id="id" placeholder="id" value="SP<%=result.length +1%>" readonly>
                            </div>
                            <div class="col-12 mt-3">
                                <input class="form-control" type="text" id="name" placeholder="name">
                            </div>
                            <div class="col-12 mt-3">
                                <input class="form-control" type="text" id="type" placeholder="type">
                            </div>
                            <div class="col-12 mt-3">
                                <input class="form-control" type="text" id="evaluate" placeholder="evaluate">
                            </div>
                            <div class="col-12 mt-3">
                                <input class="form-control" type="text" id="color" placeholder="color">
                            </div>
                            <div class="col-12 mt-3">
                                <input class="form-control" type="text" id="description" placeholder="description">
                            </div>
                            <div class="col-12 mt-3">
                                <input class="form-control" type="file" id="img" name="img" >
                            </div>
                            <div class="col-12 mt-3">
                                <input class="form-control" type="number" id="price" placeholder="price">
                            </div>
                            <a onclick="addItem()" class="btn btn-outline-danger mt-3" style="text-decoration: none;" >Thêm</a>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="updateProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cập nhật</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form-row">
                            <div class="col-12">
                                <input class="form-control" type="text" id="idd" placeholder="id" readonly >
                            </div>
                            <div class="col-12 mt-3">
                                <input class="form-control" type="text" id="named" placeholder="name">
                            </div>
                            <div class="col-12 mt-3">
                                <input class="form-control" type="text" id="typed" placeholder="type">
                            </div>
                            <div class="col-12 mt-3">
                                <input class="form-control" type="text" id="evaluated" placeholder="evaluate">
                            </div>
                            
                           
                            <div class="col-12 mt-3">
                                <input class="form-control" type="text" id="colord" placeholder="color">
                            </div>
                            <div class="col-12 mt-3">
                                <input class="form-control" type="text" id="descriptiond" placeholder="description">
                            </div>
                            <div class="col-12 mt-3">
                                <input class="form-control" type="file" id="imgd" >
                            </div>
                            <div class="col-12 mt-3">
                                <input class="form-control" type="number" id="priced" placeholder="price">
                            </div>
                            <a onclick="submitUpdate()" class="btn btn-outline-danger mt-3" style="text-decoration: none;" id="submitUpdate">Cập nhật</a>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                    </div>
                </div>
            </div>
        </div>
        
        
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>
<script src="scripts.js"></script>
<script src="admin.js"></script>
<!-- <script src="../js/product.js"></script> -->

<!-- <script src="../js/user.js"></script> -->


<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<!-- <script src="assets/demo/datatables-demo.js"></script> -->

</html>